/** Geral **/
body {
  font-family: "Roboto Slab", serif;
}

//o css com media queries aninhados gera os códigos responsivos próximos de suas classes, evitando assim que tenhamos que lembrar quais regras substituir num arquivo de media-queries separado.
.container {
  width: 940px;
  margin: 0 auto;
    
    @media #{$mq-mobile} {
        width: 90%;
    }
}

.titulo-secao {
  text-decoration: underline;
  font-size: 2em;
  text-align: center;
}

.sobre,
.planos,
.blog,
.contato {
  padding: 3em 0 6em 0;
}

h2 {
  margin-top: 0;
}